[run]
omit =
    */python?.?/*
    */lib-python/?.?/*.py
    */lib_pypy/_*.py
    */site-packages/ordereddict.py
    */site-packages/nose/*
    */requests/*
    */simplejson/*
    */unittest2/*
    */mock.py* 

exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
